#######################
## Ignore everything ##
#######################

*.*


############################
## But not these files... ##
############################

!*.py
!*.html
!*.css
!*.js
!*.json
!*.yml
!*.sql
!*.svg
!*.md
!*.env
!.gitignore
!Makefile


################
## Exceptions ##
################

*.tmp.*
*subject.pdf
.vscode
__pycache__
pic
migrations
db.sqlite3
site
fields.yml
