{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="text-center">Welcome to the game</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<h2 class="text-center">Please login or register</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<a href="/" class="btn btn-primary btn-lg btn-block" data-link>Home</a>
			</div>
			<div class="col-6">
				<a href="/login" class="btn btn-primary btn-lg btn-block" data-link>Login</a>
			</div>
			<div class="col-6">
				<a href="/register" class="btn btn-primary btn-lg btn-block" data-link>Register</a>
			</div>
			<div class="col-6">
				<a href="/logout" class="btn btn-primary btn-lg btn-block" data-link>Logout</a>
			</div>
		</div>
	</div>
	<div class="container">
		<div id="content"></div>
	</div>
{% endblock %}
