/* ************************************************************************** */
/* --------------------------------- Alerts --------------------------------- */
/* ************************************************************************** */


.alert-dismissible {
	padding: 10px;
}

.alert-dismissible .content {
	margin-right: 30px;
}

.alert-dismissible .btn-close {
	transform: scale(.75) translate(25%, -25%);
}
