/* variables */

#chat {
	--chat-border: 0.5vw 0.5vw 0 0;
	--chat-header-height: 2.3vw;
	--chat-navbar-width: 5vw;
	--chat-navbar-row: 2vw;
	--chat-friendBox-height: 1.5vw;
	--chat-friendicon-size: calc(var(--chat-friendBox-height) - 0.1vw);
	--chat-discussion-header-height: 2vw;
}

/* styles */

#chat {
	width: 14vw;
	height: 17vw;
	position: absolute;
	bottom: 0;
	right: 2vw;

	background-color: transparent;
	border-radius: var(--chat-border);
	overflow: hidden;
}

#chat ::-webkit-scrollbar {
	width: 0.5vw;
}

#chat ::-webkit-scrollbar-thumb {
    background-color: rgb(180, 180, 180);
    background-clip: content-box;
    border: 0.15vw solid transparent;
	border-radius: 0.3vw;
	transition: background-color 2s;
}

#chat ::-webkit-scrollbar-thumb:hover {
	background-color: rgb(80, 80, 80);
}

#chat .chat-container {
	position: relative;
	width: 100%;
	height: 100%;

	transition: margin-top 0.9s;
}

#chat .chat-container.hidden {
	margin-top: 17vw;
}

/* header */

#chat .chat-header {
	background-color: #0d6efd;
	height: var(--chat-header-height);
	width: 100%;
	border-radius: var(--chat-border);
}

#chat .chat-header span {
	padding-left: 1vw;
	line-height: var(--chat-header-height);
}

/* navbar */

#chat .chat-navbar {
	height: calc(100% - var(--chat-header-height));
	width: var(--chat-navbar-width);
	float: left;

	background-color: white;
}

#chat #chat-searchBox {
	background-color: whitesmoke;
	width: 100%;
	height: var(--chat-navbar-row);
	color: black;

	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid;
}

#chat #chat-searchBox:focus {
	outline: none;
}

#chat .friendBox {
	width: 100%;
	height: var(--chat-friendBox-height);
	padding: 0.1vw;
	background-color: rgb(230, 230, 230);
	transition: background-color 0.2s;
}

#chat .friendBox:hover {
	background-color: rgb(200, 200, 200);
}


#chat .friendBox .playerStatusImage {
	display: block;
	height: calc(var(--chat-friendBox-height) - 0.1vw);
	width: calc(var(--chat-friendBox-height) - 0.1vw);
	float: left;
	position: relative;
}

#chat .friendBox .playerStatusImage img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	width: 90%;
	height: 90%;
}

#chat .friendBox .playerStatusImage .online {
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translate(-20%, -20%);
	
	width: 30%;
	height: 30%;
	border-radius: 50%;

	background-color: rgb(17, 202, 0);
	display: none;
}

#chat .friendBox span {
	display: block;
	/* width: 100%; */
	height: 100%;
	overflow: hidden;
	float: none;
	
	white-space: nowrap;
	font-size: 0.7rem;
	line-height: var(--chat-friendBox-height);
	color: black;
}

#chat .friendBox#addFriendButton {
	border-bottom: 1px solid;
	border-color: black;
}

#chat #chat-friendList {
	width: 100%;
	height: calc(100% - var(--chat-navbar-row) - var(--chat-friendBox-height));
	overflow-y: auto;
}

#chat #chat-friendList::-webkit-scrollbar {
	background-color: rgb(230, 230, 230);
}

#chat .friendBox#addFriendButton[style*='display: none'] ~ #chat-friendList {
	height: calc(100% - var(--chat-navbar-row));
}


/* discussion */

#chat .discussion {
	height: calc(100% - var(--chat-header-height));
	width: calc(100% - var(--chat-navbar-width));
	float: right;
	display: flex;
	flex-direction: column;
	background-color: white;
	position: relative;
}

#chat .discussion-header {
	width: 100%;
	height: var(--chat-discussion-header-height);
	background-color: rgb(220, 220, 220);
	display: none;
	flex-direction: row;
}

#chat .discussion-header img {
	height: var(--chat-discussion-header-height);
	width: var(--chat-discussion-header-height);
	border-radius: 50%;
	margin-left: 0.1vw;
}

#chat .discussion-header span {
	line-height: var(--chat-discussion-header-height);
	display: block;
	white-space: nowrap;
	overflow: hidden;
	color: black;
	width: auto;

	flex: 1;
}

#chat .discussion-header #chat-friendMenu {
	height: 100%;
	width: var(--chat-discussion-header-height);
	background-color: rgb(120, 120, 120);
}


#chat .discussion-content {
	width: 100%;
	height: 100%;
	background-color: white;
	display: none;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 1vw;
}

#chat .message {
	border-radius: 10px;
	background-color: rgb(220, 220, 220);
	margin-bottom: 0;
	max-width: 70%;
	color: black;
	overflow-wrap: break-word;
	padding: 3px;
}

#chat .message.left {
	float: left;
	margin-right: 100%;
}

#chat .message.right {
	float: right;
	margin-left: 100%;
}


#chat .discussion-footer {
	width: 100%;
	height: auto;
	background-color: rgb(220, 220, 220);
	display: none;
}

#chat #discussion-input {
	background-color: white;
	float: left;
	width: 70%;
	max-height: 5vw;
	min-height: 1.2vw;
	height: auto;
	margin: 0.3vw;
	border-radius: 10px;
	
	overflow: hidden;
	border: none;
	resize: none;

	color: black;
	line-height: 19px;
	font-size: 15px;
}

#chat #discussion-input:focus {
	outline: none;
}

#chat .discussion-menu {
	display: none;
	position: absolute;
	right: 0;
	top: var(--chat-discussion-header-height);

	width: 100%;
	height: auto;
	background-color: transparent;

	font-size: 14px;
}

#chat .discussion-menu button {
	width: 100%;
	height: 1.5vw;
	margin: 0;
	padding: 0;

	background-color: rgb(120, 120, 120);
	border: 0;
}