/* variables */

#chat {
	--chat-height: 403.19px;
	--chat-border: 9.6px 9.6px 0 0;
	--chat-header-height: 44.16px;
	--chat-navbar-width: 115.20px;
	--chat-navbar-row: 38.4px;
	--chat-friendBox-height: 28.8px;
	--chat-friendicon-size: calc(var(--chat-friendBox-height) - 1.92px);
	--chat-discussion-header-height: 38.4px;
	--chat-main-background-color: #001433;
}

/* styles */

#chat {
	width: 364.8px;
	height: var(--chat-height);
	position: fixed;
	bottom: 0;
	right: 38.4px;
	opacity: 0.7;

	background-color: transparent;
	border-radius: var(--chat-border);
	overflow: hidden;
}

#chat ::-webkit-scrollbar {
	width: 9.6px;
}

#chat ::-webkit-scrollbar-thumb {
	background-color: rgb(180, 180, 180);
	background-clip: content-box;
	border: 2.88px solid transparent;
	border-radius: 5.76px;
	transition: background-color 2s;
}

#chat ::-webkit-scrollbar-thumb:hover {
	background-color: rgb(80, 80, 80);
}

#chat .chat-container {
	position: relative;
	width: 100%;
	height: 100%;

	transition: margin-top 0.9s;
}

#chat .chat-container.hidden {
	margin-top: var(--chat-height);
}

/* header */

#chat .chat-header {
	background-color: #002255;
	height: var(--chat-header-height);
	width: 100%;
	border-radius: var(--chat-border);
}

#chat .chat-header span {
	padding-left: 19.2px;
	line-height: var(--chat-header-height);
}

/* navbar */

#chat .chat-navbar {
	height: calc(100% - var(--chat-header-height));
	width: var(--chat-navbar-width);
	float: left;

	background-color: var(--chat-main-background-color);
}

#chat #chat-searchBox {
	background-color: rgb(0,0,0,0.4);
	width: 100%;
	height: var(--chat-navbar-row);
	color: whitesmoke;

	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid;
	border-color: black;
}

#chat #chat-searchBox:focus {
	outline: none;
}

#chat #systemMessages {
	width: 100%;
	height: var(--chat-friendBox-height);
	padding: 1.92px;
	transition: background-color 0.3s;
	background-color: rgb(0, 0, 0, 0.1);
	position: relative;

	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid;
	border-color: black;
}

#chat #systemMessages:hover {
	background-color: rgb(255, 255, 255, 0.1);
}

#chat #systemMessages span {
	font-size: 0.7rem;
	line-height: var(--chat-friendBox-height);
	white-space: nowrap;
	height: var(--chat-friendBox-height);
	display: block;
	color: rgb(0 160 169);
	font-weight: 600;
}

#chat .friendBox {
	width: 100%;
	height: var(--chat-friendBox-height);
	padding: 1.92px;
	background-color: rgb(0, 0, 0, 0.1);
	transition: background-color 0.3s;
	position: relative;
}

#chat .friendBox:hover {
	background-color: rgb(255, 255, 255, 0.1);
}


#chat .friendBox .playerStatusImage {
	display: block;
	height: calc(var(--chat-friendBox-height) - 1.92px);
	width: calc(var(--chat-friendBox-height) - 1.92px);
	float: left;
	position: relative;
}

#chat .friendBox .playerStatusImage img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	width: 90%;
	height: 90%;
}

#chat .friendBox .playerStatusImage .online {
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translate(-20%, -20%);

	width: 30%;
	height: 30%;
	border-radius: 50%;

	background-color: rgb(17, 202, 0);
	display: none;
}

#chat .friendBox span {
	display: block;
	/* width: 100%; */
	height: 100%;
	overflow: hidden;
	float: none;

	white-space: nowrap;
	font-size: 0.7rem;
	line-height: var(--chat-friendBox-height);
	color: rgb(0 160 169);
}

#chat .friendBox#addFriendButton {
	border-bottom: 1px solid;
	border-color: black;
}

#chat #chat-friendList {
	width: 100%;
	height: calc(100% - var(--chat-navbar-row) - var(--chat-friendBox-height) * 2);
	overflow-y: auto;
}

#chat #chat-friendList::-webkit-scrollbar {
	background-color: rgb(230, 230, 230);
}

#chat .friendBox#addFriendButton[style*='display: none'] ~ #chat-friendList {
	height: calc(100% - var(--chat-navbar-row) - var(--chat-friendBox-height));
}

#chat .notificationNumber {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 5%;

	width: 1rem;
	height: 1rem;
	font-size: 0.7rem;
	text-align: center;
	border-radius: 50%;
	line-height: 1rem;

	background-color: red;
}


/* discussion */

#chat .discussion {
	height: calc(100% - var(--chat-header-height));
	width: calc(100% - var(--chat-navbar-width));
	float: right;
	display: flex;
	flex-direction: column;
	background-color: var(--chat-main-background-color);
	position: relative;
}

#chat .discussion-header {
	width: 100%;
	height: var(--chat-discussion-header-height);
	background-color: #000e2d;
	display: none;
	flex-direction: row;
}

#chat .discussion-header img {
	height: var(--chat-discussion-header-height);
	width: var(--chat-discussion-header-height);
}

#chat .discussion-header img.profilePicture {
	border-radius: 50%;
	margin-left: 1.92px;
	transition: opacity 0.3s;
}

#chat .discussion-header img.profilePicture:hover {
	opacity: 0.6;
}

#chat .discussion-header span {
	line-height: var(--chat-discussion-header-height);
	display: block;
	white-space: nowrap;
	overflow: hidden;
	color: whitesmoke;
	width: auto;

	flex: 1;
}

#chat .discussion-header #chat-friendMenu {
	height: 100%;
	width: var(--chat-discussion-header-height);
	display: none;
	transition: opacity 0.3s;
}

#chat .discussion-header #chat-friendMenu:hover {
	opacity: 0.6;
}

#chat .discussion-header #chat-friendMenu.open {
	display: block;
}

#chat .discussion-header #chat-friendMenu img {
	transition: transform 0.5s;
}

#chat .discussion-header #chat-friendMenu.open img {
	transform: rotate(-90deg);
}


#chat .discussion-content {
	width: 100%;
	height: 100%;
	background-color: var(--chat-main-background-color);
	display: none;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 19.2px;
}

#chat .message {
	border-radius: 10px;
	background-color: #000e2d;
	margin-bottom: 0;
	max-width: 70%;
	color: whitesmoke;
	overflow-wrap: break-word;
	padding: 3px;
}

#chat .message.left {
	float: left;
	margin-right: auto;
}

#chat .message + .message {
	margin-top: 0.2rem;
}

#chat .message.left + .message.right {
	margin-top: 0.5rem;
}

#chat .message.right {
	float: right;
	margin-left: auto;
	text-align: right;
}

#chat .message.right + .message.left {
	margin-top: 0.5rem;
}

#chat .message.gameInvite {
	text-align: center;
	width: 70%;
}

#chat .message.gameInvite .gameInvite-title {
	font-size: 1.4rem;
}

#chat .message.gameInvite p {
	color: whitesmoke;
	margin-bottom: 0;
}

#chat .message.gameInvite button {
	background-color: rgb(50, 50, 50);
	border: none;
}

#chat .message.tournamentMatchStart {
	text-align: center;
	width: 70%;
}

#chat .message.tournamentMatchStart p {
	color: whitesmoke;
	margin-bottom: 0;
}

#chat .message.tournamentMatchStart button {
	background-color: rgb(50, 50, 50);
	border: none;
}


#chat .discussion-footer {
	width: 100%;
	height: auto;
	background-color: #000e2d;
	display: none;
}

#chat #discussion-input {
	background-color: var(--chat-main-background-color);
	float: left;
	width: 70%;
	max-height: 96px;
	min-height: 23.04px;
	height: auto;
	margin: 5.76px;
	border-radius: 10px;

	overflow: hidden;
	border: none;
	resize: none;

	color: whitesmoke;
	line-height: 19px;
	font-size: 15px;
}

#chat #discussion-input:disabled {
	background-color: var(--chat-main-background-color);
	opacity: 0.6
}

#chat #discussion-input:focus {
	outline: none;
}

#chat .discussion-menu-container {
	position: absolute;
	right: 0;
	top: var(--chat-discussion-header-height);
	width: 100%;
	height: auto;
	overflow: hidden;
}

#chat .discussion-menu {
	background-color: transparent;

	font-size: 14px;

	transition: margin-top 0.5s;
}

#chat .discussion-menu button {
	width: 100%;
	height: 28.8px;
	margin: 0;
	padding: 0;

	transition: background-color 0.3s;
	background-color: #000e2d;
	border: 0;
	display: none;
}

#chat .discussion-menu button:hover {
	background-color: #000c25;
}

